@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');



@font-face {
  font-family: 'bttf';
  src: url('BTTF.ttf');
}

* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  font-family: "Montserrat";
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  font-size: 16px;
}

section.content{
  padding-top: 80px;
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 10px 40px;
  background-color: var(--header-bk-color);
  color: var(--header-f-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.493);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .colored {
  background-color: var(--footer-bk-color);
}


header nav li a {
  font-family: 'bttf';
  letter-spacing: 1.2px;
}

header nav li a .colored {
  color: white;
}

header .logo {
  width: 50px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.3s;
}

header .logo:hover {
  filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.3));
  transition: 0.3s;
}

header .title-list {
  display: flex;
  align-items: center;
  width: 100%;
}

header .title-list li {
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px darkcyan;
  transition: 0.3s;
}

header .title-list li a {
  color: #fff;
}

header nav li a::after {
  content: '';
  display: block;
  background: cyan;
  height: 2px;
  width: 0;
  transition: .3s;
}

header nav li a:hover::after,
.menu nav li a.active::after {
  width: 100%;
}

header .title-list li:hover {
  color: cyan;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  z-index: 1000;
  align-items: center;
}



@media screen and (min-width:1600px) {
  header .title-list li {
      font-size: 1.2rem;
  }
}

@media screen and (min-width:1444px) {
  header .title-list li {
      font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-btn {
      display: block;
      color: white;
      width: 36px;
      height: 36px;
      border-top: 4px solid;
      margin: 15px 0 0;
      position: relative;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .mobile-btn::after,
  .mobile-btn::before {
      content: '';
      display: block;
      height: 4px;
      margin-top: 6px;
      background: currentColor;
      position: relative;
      transition: transform .2s ease;
  }
  .mobile-btn.active {
      border-top-color: transparent;
  }
  .mobile-btn.active::after {
      margin-top: 0px;
      top: 2px;
      transform: rotate(45deg);
  }
  .mobile-btn.active::before {
      margin-top: 0px;
      top: 6px;
      transform: rotate(135deg);
  }
  .menu-nav.mobile-menu {
      position: fixed;
      background: var(--footer-bk-color);
      padding: 10px 20px 20px;
      top: 75px;
      right: 0px;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(60px, 0px, 0px);
      transition: .3s;
  }
  .menu-nav.mobile-menu.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0px, 0px, 0px);
  }
  .menu-nav.mobile-menu li {
      display: block;
      border-bottom: 1px solid;
      line-height: 2.5;
  }
  .menu-nav.mobile-menu li a {
      width: 100%;
      text-align: center;
      color: white;
  }
  header {
      justify-content: space-between;
  }
  header .title-list {
      display: block;
      width: 100%;
  }

  footer {
      font-size: 0.7em;
  }
  header nav li a::after {
      display: none;
      width: 0;
  }
}